body {
  font-family: "Lato-Regular";
}

.bg-emperor {
  background-color: #504f4f;
  color: #fff;
}

.bg-cutty-sark {
  background-color: #547980;
  color: #fff;
}

.bg-tradewind {
  background-color: #54ada8;
  color: #fff;
}

.bg-chinook {
  background-color: #9de0ad;
  color: #fff;
}

.bg-mimosa {
  background-color: #e5fcc2;
  color: #fff;
}

.btn-emperor {
  background-color: #504f4f;
  color: #fff;
}

.btn-emperor:hover {
  background-color: #ebebeb;
  color: #282828;
}

.btn-tradewind {
  background-color: #54ada8;
  color: #f0f0f0;
}

.btn-cutty-sark {
  background-color: #547980;
  color: #fff;
}

.btn-tradewind:hover {
  background-color: #3c9f99;
  color: white !important;
}

.btn-cutty-sark:hover {
  background-color: #504f4f;
  color: #fff !important;
}

.hover-show {
  transition: 0.6s ease;
  opacity: 0;
  cursor: pointer;
}

.hover-show:hover {
  opacity: 1;
}

